
label {
	display: inline-block;
	width: 200px;
	text-align: right;
	margin-bottom: 15px;
  }
.container{
	width: fit-content;
	padding: 10px 20px;
	border-radius: 10px;
	background-color: #6d6d6d50;
	margin: auto;
	margin-top: 5%;
}
.heading{
	text-align: center;
	font-weight: 500;
	font-size: xx-large;
}
p{
	width: 200px;
	text-align: right;
	margin: 0px;
}
.checkbox{
	width: fit-content;
	margin: 0px;
	display: flex;

}
.innercheckbox{
	width: fit-content;
}
.innercheckbox label{
	width: auto;
	text-align: right;
	margin-bottom: 0px;
}

span{
	float: right;
}

.button {
	cursor: pointer;
	margin-left: 42%;
}

body {
	background-color: white;
	color: black;
  }
  
  .dark-mode {
	background-color: black;
	color: white;
  }
.button2{
	margin-left: 20%;
	cursor: pointer;
}
